/*** INDEX ***/
.bar {
  height: 65px;
}
.bar .title {
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: 105px;
  left: 0;
  top: 15px;
}
.has-subheader{
  top:54px;

}


/*** HOMEPAGE - ALL ARTISTS ***/
.item {
  background-color: #727272;
  border-color: #A6A6A6;
}
.item img {
  border-radius: 5px;
}
.item h1 {
  margin: 0 0 3px 0;
  font-size: 1.1em;
  color: #FFF;
  font-weight: bold;
}
.item h2 {
  color: #CFCFCF;
  font-size: 0.9em;
}
/* REVIEWS & RATINGS */
.reviews {
  color: #CFCFCF;
  font-size: 0.9em;
}
.reviews .avgRating {
  color: #FDB327;
}
ul.rating {
  display: inline-block;
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 2px;
}
ul.rating li i {
  font-size: 1.3em;
  color: #FDB327;
}
ul.rating li i.ion-ios-star-outline {
  color: #CFCFCF;
}
ul.rating li i.ion-ios-star-outline:before {
  content: "\f4b3";
}

/* NO RESULTS */
.noResults {
  width: 85%;
  margin: 0 auto;
}
.query {
  font-weight: 600;
}
.link {
  color: blue;
}

