/*** INDEX ***/
.bar {
  height: 65px;
}
.bar .title {
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: 105px;
  left: 0;
  top: 15px;
}
.has-subheader{
  top: 54px;
}


/*** HOMEPAGE - ALL ARTISTS ***/
.artistList .item, .artistPage {
  background-color: #727272;
  border-color: #A6A6A6;
}
.artistList .item img, .artistPage img {
  border-radius: 5px;
}
.artistList .item h1, .artistPage h1 {
  margin: 0 0 3px 0;
  font-size: 1.1em;
  color: #FFF;
  font-weight: bold;
}
.artistList .item h2, .artistPage h2 {
  color: #CFCFCF;
  font-size: 0.9em;
}
/* REVIEWS & RATINGS */
.reviews {
  color: #CFCFCF;
  font-size: 0.9em;
}
.reviews .avgRating {
  color: #FDB327;
}
.artistList .list {
  padding-bottom: 54px;
}
ul.rating {
  display: inline-block;
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 2px;
}
ul.rating li i {
  font-size: 1.3em;
  color: #FDB327;
}
ul.rating li i.ion-ios-star-outline {
  color: #CFCFCF;
}
ul.rating li i.ion-ios-star-outline:before {
  content: "\f4b3";
}
/* NO RESULTS */
.noResults {
  width: 85%;
  margin: 20px auto;
}
.query {
  font-weight: 600;
}
.link {
  color: blue;
}


/*** PAGE TITLE HEADER ***/
.pageTitle {
  padding: 15px 0 15px 20px;
  background: #303030;
  color: white;
}
.strong {
  font-weight: 600;
}


/*** SEARCH RESULTS ***/
.fallback {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
}
.fallback img {
  width: 80%;
  margin: 10%;
}


/*** NEW ARTIST CREATION PAGE ***/
.newArtistHeader {
  margin: 20px 5% 0;
  width: 90%;
  height: 100px;
}
.newArtistHeader img {
  border-radius: 5px;
  float: left;
  width: 100px;
  height: 100px;
}
.newArtistHeader h1 {
  float: left;
  margin: 39px 20px 0;
  font-size: 1.3em;
  font-weight: 600;
}
.changePic {
  color: #0E87ED;
  margin-left: 18px;
  font-size: 0.9em;
  margin-top: 3px;
}
.newArtistForm input[type="text"] {
  border-bottom: 1px solid #979797;
  border-radius: 0;
  width: 95%;
}
.newArtistForm textarea {
  border: 1px solid #979797;
  width: 95%;
  resize: none;
  padding: 5px;
  height: 200px;
  margin-top: 5px;
}
.newArtistForm .padding {
  margin-bottom: 50px;
}


/*** ARTIST PAGE ***/
.aboutArtist {
  background: #D8D8D8;
  padding: 15px;
  border-bottom: 1px solid #A6A6A6;
}
.aboutArtist .icon {
  margin-right: 5px;
}
.aboutArtistText {
  background: #F9F9F9;
  padding: 10px 15px;
  border-bottom: 1px solid #A6A6A6;
}
.writeReview {
  border: 1px solid #979797;
  background: #FFF;
  background-image: url(../assets/mic.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 84px 13px;
  color: #000;
  margin-top: 6px;
}

/* REVIEWS */
.reviewCon {
  padding: 10px;
  margin-bottom: 54px;
}
.reviewsHeader {
  border-bottom: 1px solid #979797;
  margin-top: 15px;
  padding-bottom: 5px;
}
.review {
  background: white;
  border: none;
  border-top: 1px solid #DCDCDC;
}
.review:first-child {
  border-top: none;
}
.review img {
  border: 1px solid #979797;
}
.review h1 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
}
.details {
  list-style: none;
  margin-bottom: 5px;
}
.details li {
  color: #A8A8A8;
  display: inline-block;
  font-size: 0.8em;
}
.details li:first-child {
  border-right: 1px solid #C6C6C6;
  padding-right: 10px;
  margin-right: 6px;
}
.review p {
  white-space: normal;
  margin-top: 5px;
}

/*** Review CREATION PAGE ***/

.reviewForm textarea {
  /*border: 1px solid #979797;*/
  width: 95%;
  resize: none;
  padding: 5px;
  height: 200px;
  margin-top: 5px;
  
}

label.item.item-input.reviewText{
  margin-top: 20px;
}


/*.reviewForm .reviewText{
  padding-top: 50px;
}*/

.reviewForm .rating {
  padding: 10px 0px;
  position: relative;
  border-bottom: 10px
  
}

.reviewForm input {
  /*border: 1px solid #979797;*/
  
  resize: none;
  padding: 5px;
  height: 40px;
  margin-top: 5px;
}



.reviewForm ul.rating {
  font-size:200% !important;
  text-align:center;
  display: block;
  margin:0 auto;
}

hr {
  border-color:aqua;
  background-color: aqua;
  color: aqua;
}



















