<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-rating/ionic-rating.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/reviewCreateCtrl.js"></script>
    <script src="js/liveFactory.js"></script>
    <script src="js/artistFactory.js"></script>
    <script src="js/homeCtrl.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/newArtistCtrl.js"></script>
    <script src="js/searchResultsCtrl.js"></script>
    <script src="js/artistPageCtrl.js"></script>

  </head>
  <body ng-app="liveApp" ng-controller="mainCtrl">

    <ion-pane>

      <!-- APP HEADER -->

      <ion-header-bar align-title="left" class="bar-dark bar-header mainHeader" ng-hide="obj.hideMainHeader">
        <div class="title" ng-click="goHome()"></div>
        <button class="button button-icon icon ion-navicon"></button>
      </ion-header-bar>
      
      <!-- SEARCH SUB-HEADER -->
      <ion-header-bar class="bar-dark bar-subheader item-input-inset" ng-hide="obj.hideMainHeader">
        <label class="item-input-wrapper search-artist">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <form ng-submit="artistsSearch()">
            <input class="search" type="search" placeholder="Search" ng-model="query">
          </form>
        </label>
      </ion-header-bar>

      <!-- TEMPLATES -->
      
      <ion-nav-view class="has-header has-subheader"></ion-nav-view>
      
    </ion-pane>

  </body>
</html>
