<!-- Home page view-->

<ion-view title="home" class="has-header has-subheader">

  <ion-content padding="false">
    <ion-list class="artistList">
    
      <!-- shows the search results of the entered artist name -->
      
      <ion-item ng-repeat="artist in filteredArtists = (obj.artists | orderBy: 'artistName' | filter: q)" class="item item-thumbnail-left" ng-click="artistPagefromHome(artist.artistName)">
          <img ng-src="{{artist.artistPic}}">
          <h1>{{artist.artistName}}</h1>
          <h2>{{artist.genre}}</h2>
          <div class="reviews">
            <span class="avgRating">{{artist.avgrating | number: 1 }}</span>
            <rating readonly="true" ng-model="artist.avgrating" max="max"></rating>
            <span class="numOfReviews">{{artist.reviewcount}} review<span ng-hide="oneReview(artist)">s</span></span>
          </div>
      </ion-item>  
      <!-- if the artist isn't in our database, ask the user to create the artist page-->
      
      <div ng-show="!filteredArtists.length" class="noResults">
        Sorry, <span class="query">{{ q }}</span> is not in our catalogue.<br>
        <button ng-click="obj.getNewArtist()" class="button button-block button-positive">
          Create <span class="query">{{ q }}</span>'s artist page now!
        </button>
      </div>
    </ion-list>
        <input type="file" accept="video/*" capture>
    
  </ion-content>
</ion-view>
