<ion-view title="newArtist">
  <ion-content padding="false">

    <div class="pageTitle strong">
      New Artist
    </div>

    <div class="newArtistHeader">
      <img src="{{ artist.artistPic }}">
      <h1>{{ artist.artistName }}</h1>
    </div>
    
    <div class="changePic" ng-click="showURL = !showURL">
      Change Image
    </div>

    <form ng-submit="saveArtist()" class="newArtistForm">
      
      <label class="item-input item-stacked-label" ng-show="showURL">
        <span class="input-label strong">Image URL</span>
        <input ng-model="artist.artistPic" type="text" placeholder="Add image URL...">
      </label>
      
      <label class="item-input item-stacked-label">
        <span class="input-label strong">Genre</span>
        <input ng-model="artist.genre" type="text" placeholder="Enter artist's genre...">
      </label>
      
      <label class="item-input item-stacked-label">
        <span class="input-label strong">Artist Bio</span>
        <textarea ng-model="artist.bio" placeholder="Artist bio..."></textarea>
      </label>
      
      <div class="padding">
        <button type="submit" class="button button-block button-positive" >Submit</button>
      </div>
    
    </form>

  </ion-content>
</ion-view>
