<!-- View for creating a new review-->

<ion-view title="reviewCreate" cache-view="false">
  
  <ion-header-bar align-title="left" class="bar-light bar-header reviewCreateHeader">
    <i class="icon ion-arrow-left-c" ng-click="goBack()"></i>
    <h1>Leave a Review</h1>
    <div class="postButton" ng-click="postReview()">Post</div>
  </ion-header-bar>

  <ion-content padding="false" class="reviewPage">

    <form class="reviewForm">
      
        <div class="rating">
          <rating ng-model="review.rating" max="max"></rating>
        </div>
        <!-- asking the user to fill out a review -->
        
        <div class="padding">
          <label class="item item-input">
            <input ng-model="review.username" type="text" placeholder="Your name?" required>
          </label>
          <label class="item item-input">
            <input ng-model="review.venue" type="text" placeholder="Venue?">
          </label>
          <div class="row">
            <div class="col">

              <button class="button button-block" ng-click="recordOrSave()" ng-model="toggle.recordOrSave"> {{toggle.recordOrSave}}
              </button>

              <!-- <form ng-hide="true" action="upload.htm" method="post" enctype="multipart/form-data">
                <input ng-hide="true" class="reviewVideoCapture" placeholder="Record a Video" ng-model="movie" ng-change="toggleRecordOrSave()" type="file" accept="video/*;capture=camcorder"/>
                <input class="button button-block" type="submit" value="Upload">
              </form> -->
            </div>
            <div class="col">

              <button class="button button-block">Upload
    <!--           <input ng-model="review.venue" type="text" placeholder="Record">
     -->      </button>

            </div>
          </div>
          <label class="item item-input reviewText">
            <textarea ng-model="review.textReview" placeholder="How was the performance?"></textarea>
          </label>
        </div>

    </form>

  </ion-content>
</ion-view>
