
<!-- shows the results of the get request to spotify -->

<ion-view title="searchResults" class="has-header has-subheader">
  <ion-content padding="false">

    <div class="pageTitle">
      {{ searchResults.length }} results for <span class="strong">{{ searchQuery }}</span>
    </div>
  
    <ion-list class="artistList">
      <ion-item ng-repeat="item in searchResults" class="item item-thumbnail-left" ng-click="pickArtist(item)">
        <img src={{item.images[2].url}} ng-show="item.images[2].url">
        <div class="fallback" ng-show="!item.images[2].url">
          <img src="./assets/singer.png" />
        </div>
        <h1>{{item.name}}</h1>
        <h2>{{item.genres[0]}}</h2>
      </ion-item>  
    </ion-list>
  
  </ion-content>
</ion-view> 



